html
  head
    title Registration and Authentication
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css")
  body
    h1(class="text-2xl font-semibold mb-4") Welcome to Registration and Authentication

     // Buttons for Register and Login
    a(href="/register") Register
    a(href="/login") Login

    block content